SERVER_ADDR=:8080
SERVICE_API_KEY=change-me-to-a-long-random-service-key
BOT_IMAGE=wt-bot-bot:latest
BOT_SERVICE_URL=http://bots:8080
BOT_SERVICE_TIMEOUT=10s
TEAMSPEAK_SERVICE_URL=http://teamspeaks:8080
TEAMSPEAK_SERVICE_TIMEOUT=10s
QUERY_TIMEOUT=10s
QUERY_KEEPALIVE=200s
RECONNECT_INTERVAL=10s
SHUTDOWN_TIMEOUT=15s
DOCKER_HOST=unix:///var/run/docker.sock
DOCKER_NETWORK=wt-bot
DOCKER_PULL_POLICY=missing
DOCKER_AUTO_REMOVE=true
